*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --deep-blue: #1B4EBF;
    --light-blue: #D8E4FE;
    --black: #1D1C1E;
    --dark-grey: #333136;
    --white: #FFFFFF;
    --light-gray: #F1F3F5;
    --font-family: Jost;
    --font-size-body:  16px;
    --font-size-head: 30px;
    --font-size-title: 40px;
    --font-weight-head: 900;
    --font-weight-title: 700;
    --font-weight-body: 500;
    --font-size-body-other: 14px
}

body{
    /* padding: 40px 100px 0 100px; */
    font-family: var(--font-family);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-family);
    margin: 40px 100px 40px 100px;

}
.menu-icon{
    display: none;
}
.home-nav{
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-body);
}
.logo img{
    /* width: 190px; */
    width: 160px;
}
.home-nav a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--dark-grey);
    text-transform: uppercase;
}
.home-nav a:hover{
    text-decoration: underline;
}

.location{
    display: flex;
    flex-direction: row;
    margin: 0px 100px 40px 100px;
    gap: 50px;
}
.country-one, .country-three{
    flex-direction: row-reverse;
}
.country-three{
    margin-bottom: 300px;
}

.location-text{
    background-image: url('./locations/location1-bg.png');
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    padding: 100px;
    gap: 20px;
    background-color: var(--light-blue);
    width: 100%;
    border-radius: 20px;
}

/* .img-cont{
    
} */
.img-cont img{
    border-radius: 20px;
    /* width: 200%; */
}
/* .text-one, .text-two{
    align-self: flex-end;

} */
.text-two{
    margin: 0 0 0 0;
}
.text-one{
    padding: 0 0 0 0 ;
}

.text-one h2{
    color: var(--deep-blue);
    font-size: var(--font-size-title);
    margin-bottom: 10px;

}
/* .text-one h4, .text-two h4{
    font-size: var(--font-size-body-other);
} */
.text-one h4 p, .text-two h4 p{
    color: var(--dark-grey);
}

.talk-house{
    position: relative;
    /* align-items: center; */
}
.floating-talk{
    background-image: url('./Images/float\ back.png'), url('./Images/float\ back\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom left, top right 20px;
    background-color: var(--deep-blue);
    margin: 0px 20px 70px 20px;
    display: flex;
    flex-direction: row;
    gap: 40%;
    padding: 60px;
    border-radius: 30px;
    color: var(--white);
    /* position: absolute; */
    /* bottom: 70%; */
    /* left: 7%; */
    margin-top: -230px;
}
.talk h3{
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
}
.floating-talk button{
    padding: 25px 10px;
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    /* padding: 25px 35px; */
    font-size: 15px;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: var(--font-size-title);
    color: var(--dark-grey);
}


footer{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    padding: 50px 100px 50px 100px;
}
.foothead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--light-gray) solid 1px;
    margin-bottom: 30px;
}
.foot-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
}

.foot-nav a{
    color: var(--white);
    text-decoration: none;
}
.social-hover{
    display: none;
}
.social-icons:hover{
    display: none;
}
.social-icons:hover + .social-hover{
    display: contents;
}

.contact-address-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--light-gray);
    align-items: center;
}






@media (max-width: 1024px){
    .location-text{
        padding: 30px
    }
}





@media (max-width: 768px) {
    header{
        margin: 40px 30px 40px 30px;
    }

    .location{
        flex-direction: column;
        margin: 0px 30px 70px 30px;
        gap: 30px;
    }
    .country-three{
        margin-bottom: 250px;
    }
    .img-cont img{
        width: 100%;
        /* height: 70%; */
    }
    /* .location-text{
        margin: 30px;
    } */

    .floating-talk{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        margin: 0px 0px 70px 0px;
        margin-top: -230px;

    }
    .floating-talk h3{
        margin-bottom: 20px;
        line-height: 50px;
    }

}




@media (max-width: 450px) {
    header{
        margin: 30px 17px;
    }
    .home-nav{
        display: none;
    }
    .menu-icon{
        display: contents;
    }

    .location{
        margin: 0px 0px 70px 0px;
        gap: 0px;
    }
    .img-cont img{
        border-radius: 0;
    }
    .location-text{
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin-top: -40px;
        border-radius: 0;
    }
    /* .text-one{
        padding: 50px 50px 0;
    } */

    .country-three{
        margin-bottom: 300px;
    }

    .floating-talk{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        bottom: 83%;
        padding: 40px;
        margin: 0px 15px 50px 15px;
        margin-top: -200px;
    }
    footer{
        padding: 50px 17px 50px 17px;

    }
    .foothead{
        flex-direction: column;
        align-items: center;
        border-bottom: none;
        margin-bottom: 30px;
    }
    .foot-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    .contact-address-social{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}