*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --deep-blue: #1B4EBF;
    --light-blue: #D8E4FE;
    --black: #1D1C1E;
    --dark-grey: #333136;
    --white: #FFFFFF;
    --light-gray: #F1F3F5;
    --font-family: Jost;
    --font-size-body:  16px;
    --font-size-head: 30px;
    --font-size-title: 40px;
    --font-weight-head: 900;
    --font-weight-title: 700;
    --font-weight-body: 500;
    --font-size-body-other: 14px
}

body{
    /* padding: 40px 100px 0 100px; */
    font-family: var(--font-family);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-family);
    margin: 40px 100px 40px 100px;

}
.menu-icon{
    display: none;
}
.home-nav{
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-body);
}
.logo img{
    /* width: 190px; */
    width: 160px;
}
.home-nav a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--dark-grey);
    text-transform: uppercase;
}
.home-nav a:hover{
    text-decoration: underline;
}

.location{
    display: flex;
    flex-direction: row;
    margin: 0px 100px 40px 100px;
    gap: 50px;
}
.country-one, .country-three{
    flex-direction: row-reverse;
}

.location-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    padding: 100px;
    gap: 20px;
    background-color: var(--light-blue);
    width: 100%;
    border-radius: 20px;
}

/* .img-cont{
    
} */
.img-cont img{
    border-radius: 20px;
    /* width: 200%; */
}
/* .text-one, .text-two{
    align-self: flex-end;

} */
.text-two{
    margin: 0 0 0 0;
}
.text-one{
    padding: 0 0 0 0 ;
}

.text-one h2{
    color: var(--deep-blue);
    font-size: var(--font-size-title);
    margin-bottom: 10px;

}
/* .text-one h4, .text-two h4{
    font-size: var(--font-size-body-other);
} */
.text-one h4 p, .text-two h4 p{
    color: var(--dark-grey);
}



@media (max-width: 1024px){
    .location-text{
        padding: 30px
    }
}


@media (max-width: 768px) {
    header{
        margin: 40px 30px 40px 30px;
    }

    .location{
        flex-direction: column;
        margin: 0px 30px 70px 30px;
        gap: 30px;
    }
    .img-cont img{
        width: 100%;
        /* height: 70%; */
    }
    /* .location-text{
        margin: 30px;
    } */

}




@media (max-width: 450px) {
    header{
        margin: 30px 17px;
    }
    .home-nav{
        display: none;
    }
    .menu-icon{
        display: contents;
    }

    .location{
        margin: 0px 0px 70px 0px;
        gap: 0px;
    }
    .img-cont img{
        border-radius: 0;
    }
    .location-text{
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin-top: -40px;
        border-radius: 0;
    }
    /* .text-one{
        padding: 50px 50px 0;
    } */
}