*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --deep-blue: #1B4EBF;
    --light-blue: #D8E4FE;
    --black: #1D1C1E;
    --dark-grey: #333136;
    --white: #FFFFFF;
    --light-gray: #F1F3F5;
    --font-family: Jost;
    --font-size-body:  16px;
    --font-size-head: 30px;
    --font-size-title: 40px;
    --font-weight-head: 900;
    --font-weight-title: 700;
    --font-weight-body: 500;
    --font-size-body-other: 14px
}

body{
    /* padding: 40px 100px 0 100px; */
    font-family: var(--font-family);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-family);
    margin: 40px 100px 40px 100px;

}
.menu-icon{
    display: none;
}
.home-nav{
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-body);
}
.logo img{
    /* width: 190px; */
    width: 160px;
}
.home-nav a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--dark-grey);
    text-transform: uppercase;
}
.home-nav a:hover{
    text-decoration: underline;
}

#hero-section{
    color: var(--white);
    background-color: var(--deep-blue);
    background-image: url('./Images/Oval.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    /* width: 85%; */
    margin: 0 100px 0 100px;
}
.hero-text{
    margin-block: 100px;
    /* margin-block: 100px; */
    margin-inline-start: 95px;
    font-size: var(--font-size-head);
    width: 50%;
    margin-right: 50px;
}
.hero-text h1{
    line-height: 50px;
    font-weight: 900;
}
.hero-text .hero-p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

h1, .hero-p{
    margin-block-end: 30px;
}
button{
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 25px 35px;
    font-size: 15px;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: var(--font-size-title);
    color: var(--dark-grey);
}
button:hover{
    color: var(--light-blue);
}

.phone-pic{
    width: 50%;
    background-image: url('./Images/phone\ quality.png');
    background-repeat: no-repeat;
    background-size: 430px 600px;
    background-position: bottom -50px right -50px;
    /* border: solid; */
    max-width: 50%;
    /* height: 100%; */
}
.phone-pic2{
    display: none;
}


.design{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.design h3{
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
}
.learn-more{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.web{
    /* background-image: url('./Images/Web\ Design.png'); */
    /* height: auto; */
    /* text-align: center; */
    /* color: var(--white); */
    grid-area: web;
    border-radius: 15px;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    /* object-fit: contain; */

}
.app{
    /* color: var(--white); */
    /* background-image: url('./Images/App\ Design.png'); */
    grid-area: app;
    border-radius: 15px;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    /* object-fit:; */
    
}
.graphic{
    /* color: var(--white); */
    /* background-image: url('./Images/Graphics\ design.png'); */
    grid-area: graphic;
    border-radius: 15px;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    /* object-fit: contain; */
}
.web img:nth-child(1){
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    
}
.app img:nth-child(1){
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.graphic img:nth-child(1){
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.article{
    position: absolute;
    color: var(--white);
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-list{
    display: grid;
    /* grid-auto-columns: 1fr; */
    gap: 30px;
    grid-template-areas: 
    'web app'
    'web graphic'
    ;
    margin: 100px 100px 0 100px;
}

.qualities{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 100px 100px 300px 100px;

}
.quality-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.quality-box img{
    width: 50%;
}
.quali{
    text-align: center;

}
.quali h3{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}


.talk-house{
    position: relative;
    /* align-items: center; */
}
.floating-talk{
    background-image: url('./Images/float\ back.png'), url('./Images/float\ back\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom left, top right 20px;
    background-color: var(--deep-blue);
    margin: 0px 20px 50px 20px;
    display: flex;
    flex-direction: row;
    gap: 40%;
    padding: 60px;
    border-radius: 30px;
    color: var(--white);
    /* position: absolute; */
    /* bottom: 70%; */
    /* left: 7%; */
    margin-top: -200px;
}
.talk h3{
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
}
.floating-talk button{
    padding: 25px 10px;
}


footer{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    padding: 50px 100px 50px 100px;
}
.foothead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--light-gray) solid 1px;
    margin-bottom: 30px;
}
.foot-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
}

.foot-nav a{
    color: var(--white);
    text-decoration: none;
}
.social-hover{
    display: none;
}
.social-icons:hover{
    display: none;
}
.social-icons:hover + .social-hover{
    display: contents;
}

.contact-address-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--light-gray);
    align-items: center;
}






@media (max-width: 768px) {
    header{
        margin: 40px 30px 40px 30px;
    }
    #hero-section{
        margin: 0 30px 0 30px;
        flex-direction: column;
        padding-inline: 70px;
        justify-content: center;
    }
    .hero-text{
        margin-block: 40px 1px;
        margin-inline-start: 0;
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .hero-p{
        font-size: var(--font-size-body-other);
    }
    .phone-pic{
        display: none;
    }
    .phone-pic2{
        display: contents;
        display: flex;
        /* justify-content: center;
        text-align: center; */
        justify-content: center;
        
    }
    .skill-list{
        grid-template-areas:
        'web'
        'app'
        'graphic'
        ;
        margin: 100px 30px 0 30px;
    }
    .web{
        min-height: 200px;
    }

    .qualities{
        flex-direction: column;
        margin: 100px 30px 300px 30px;
    }
    .quality-box{
        flex-direction: row;
    }
    .quality-box img{
        width: 25%;
    }
    .quali{
        text-align: left;
    }

    .floating-talk{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        margin: 100px 30px 0 30px;
    }
    .floating-talk h3{
        margin-bottom: 20px;
        line-height: 50px;
    }
}







@media (max-width: 450px) {
    header{
        margin: 30px 17px;
    }
    .home-nav{
        display: none;
    }
    .menu-icon{
        display: contents;
    }
    #hero-section{
        margin: 0;
        border-radius: 0;
        padding-inline: 30px;
    }
    .skill-list{
        grid-template-areas:
        'web'
        'app'
        'graphic'
        ;
        margin: 100px 15px 0 15px;
    }
    .quality-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .quality-box img{
        width: 50%;
    }
    .qualities{
        margin: 100px 15px 500px 15px;
    }
    .quali{
        text-align: center;
    
    }
    
    .floating-talk{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        bottom: 83%;
        padding: 40px;
        margin: 100px 15px 0 15px;
    }
    .foothead{
        flex-direction: column;
        align-items: center;
        border-bottom: none;
        margin-bottom: 30px;
    }
    .foot-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    .contact-address-social{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    
}